<?xml version='1.0' encoding='utf-8'?>
<widget id="com.homework.daily" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Homework</name>
    <description>
        A personal day-to-day activity and work management application.
    </description>
    <author email="dev@homework.app" href="https://homework.app">
        Homework Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="0xFFF5F5F7" />
    <preference name="AndroidWindowSplashScreenBackground" value="#F5F5F7" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
